 body {
            font-family: 'Segoe UI', system-ui, sans-serif;
            background: #f1f5f9;
            padding-top: 70px;
        }

        .navbar {
            background: #020617;
        }

        .sidebar {
            position: fixed;
            top: 55px;
            left: 0;
            width: 230px;
            height: 100%;
            background: #020617;
            padding: 20px;
        }

        .sidebar a {
            display: block;
            color: #cbd5f5;
            text-decoration: none;
            padding: 10px 12px;
            border-radius: 8px;
            margin-bottom: 6px;
        }

        .sidebar a:hover,
        .sidebar a.active {
            background: #4f46e5;
            color: #fff;
        }

        .content {
            margin-left: 250px;
            padding: 30px;
        }

        .table-card {
            background: #ffffff;
            border-radius: 16px;
            padding: 25px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.08);
        }

        .badge-success {
            background: #dcfce7;
            color: #166534;
        }

        .badge-failed {
            background: #fee2e2;
            color: #991b1b;
        }

        .badge-admin {
            background: #e0e7ff;
            color: #3730a3;
        }
        
        
        .badge-upload { background-color: #0d6efd; }       /* Blue */
.badge-download { background-color: #198754; }     /* Green */
.badge-share { background-color: #6f42c1; }        /* Purple */
.badge-revoke { background-color: #dc3545; }       /* Red */
.badge-expired { background-color: #fd7e14; }      /* Orange */
.badge-view { background-color: #20c997; }         /* Teal */
.badge-otp { background-color: #6610f2; }
.badge-pass { background-color: #6c757d; }
.badge-login { background-color: #0dcaf0; }
.badge-force { background-color: #b02a37; }
.badge-disabled { background-color: #842029; }
.badge-enabled { background-color: #146c43; }
.badge-admin { background-color: #343a40; }